.btn, .ranking-item-link-buttons a,
.btn-wrap .ajaxSnippetsAffiliateLink > a,
.wp-block-freeform .btn-wrap .ajaxSnippetsAffiliateLink > a {
  color: #fff;
  background-color: #32373c;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  line-height: normal;
  padding: 7px 13px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  border: 2px solid transparent;
  position: relative;
}
.btn amp-img, .ranking-item-link-buttons a amp-img,
.btn-wrap .ajaxSnippetsAffiliateLink > a amp-img,
.wp-block-freeform .btn-wrap .ajaxSnippetsAffiliateLink > a amp-img {
  position: absolute;
}

.btn:before, .ranking-item-link-buttons a:before,
.btn:after,
.ranking-item-link-buttons a:after,
.btn-wrap .ajaxSnippetsAffiliateLink > a:before,
.btn-wrap .ajaxSnippetsAffiliateLink > a:after {
  font-family: FontAwesome;
  margin-right: 12px;
  transition: all .2s ease;
}

.btn-m,
.btn-wrap.btn-wrap-m .ajaxSnippetsAffiliateLink > a {
  padding: 14px 45px;
  font-size: 16px;
}

.btn-l, .ranking-item-link-buttons a,
.btn-wrap.btn-wrap-l .ajaxSnippetsAffiliateLink > a {
  padding: 14px 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-l::after, .ranking-item-link-buttons a::after,
.btn-wrap.btn-wrap-l .ajaxSnippetsAffiliateLink > a::after {
  content: "\f105";
  position: absolute;
  right: 0;
  font-size: 20px;
}

.btn:hover, .ranking-item-link-buttons a:hover,
.btn-wrap .ajaxSnippetsAffiliateLink > a:hover {
  opacity: 0.7;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.btn:hover::after, .ranking-item-link-buttons a:hover::after,
.btn-wrap .ajaxSnippetsAffiliateLink > a:hover::after {
  right: -4px;
  transition: all 0.3s ease-in-out;
}

.btn-l.btn-circle::after, .ranking-item-link-buttons a.btn-circle::after,
.btn-wrap.btn-wrap-l.btn-wrap-circle .ajaxSnippetsAffiliateLink > a::after {
  right: 8px;
}
.btn-l.btn-circle:hover::after, .ranking-item-link-buttons a.btn-circle:hover::after,
.btn-wrap.btn-wrap-l.btn-wrap-circle .ajaxSnippetsAffiliateLink > a:hover::after {
  right: 4px;
}

/* ボタンを光らせる */
.btn-shine,
.btn-wrap-shine .ajaxSnippetsAffiliateLink > a {
  overflow: hidden;
}

.btn-shine:before,
.btn-wrap-shine .ajaxSnippetsAffiliateLink > a:before {
  animation: shine 3s ease-in-out infinite;
  background-color: #fff;
  content: " ";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: -180px;
  transform: rotate(45deg);
  width: 30px;
}

.btn-circle,
.btn-wrap-circle .ajaxSnippetsAffiliateLink > a {
  border-radius: 99px;
}

.btn-white, .btn-wrap.btn-wrap-white .ajaxSnippetsAffiliateLink > a {
  color: #333;
  background-color: #fff;
}

#container .btn-white:hover, #container .btn-wrap.btn-wrap-white .ajaxSnippetsAffiliateLink > a:hover {
  color: #333;
}

.btn-red, .ranking-item-link a, .btn-wrap.btn-wrap-red .ajaxSnippetsAffiliateLink > a {
  background-color: #e60033;
}

.btn-pink, .btn-wrap.btn-wrap-pink .ajaxSnippetsAffiliateLink > a {
  background-color: #e95295;
}

.btn-purple, .btn-wrap.btn-wrap-purple .ajaxSnippetsAffiliateLink > a {
  background-color: #884898;
}

.btn-deep, .btn-wrap.btn-wrap-deep .ajaxSnippetsAffiliateLink > a {
  background-color: #55295b;
}

.btn-indigo, .btn-wrap.btn-wrap-indigo .ajaxSnippetsAffiliateLink > a {
  background-color: #1e50a2;
}

.btn-blue, .ranking-item-detail a, .btn-wrap.btn-wrap-blue .ajaxSnippetsAffiliateLink > a {
  background-color: #0095d9;
}

.btn-light-blue, .btn-wrap.btn-wrap-light-blue .ajaxSnippetsAffiliateLink > a {
  background-color: #2ca9e1;
}

.btn-cyan, .btn-wrap.btn-wrap-cyan .ajaxSnippetsAffiliateLink > a {
  background-color: #00a3af;
}

.btn-teal, .btn-wrap.btn-wrap-teal .ajaxSnippetsAffiliateLink > a {
  background-color: #007b43;
}

.btn-green, .btn-wrap.btn-wrap-green .ajaxSnippetsAffiliateLink > a {
  background-color: #3eb370;
}

.btn-light-green, .btn-wrap.btn-wrap-light-green .ajaxSnippetsAffiliateLink > a {
  background-color: #8bc34a;
}

.btn-lime, .btn-wrap.btn-wrap-lime .ajaxSnippetsAffiliateLink > a {
  background-color: #c3d825;
}

.btn-yellow, .btn-wrap.btn-wrap-yellow .ajaxSnippetsAffiliateLink > a {
  background-color: #ffd900;
}

.btn-amber, .btn-wrap.btn-wrap-amber .ajaxSnippetsAffiliateLink > a {
  background-color: #ffc107;
}

.btn-orange, .btn-wrap.btn-wrap-orange .ajaxSnippetsAffiliateLink > a {
  background-color: #f39800;
}

.btn-deep-orange, .btn-wrap.btn-wrap-deep-orange .ajaxSnippetsAffiliateLink > a {
  background-color: #ea5506;
}

.btn-brown, .btn-wrap.btn-wrap-brown .ajaxSnippetsAffiliateLink > a {
  background-color: #954e2a;
}

.btn-grey, .btn-wrap.btn-wrap-grey .ajaxSnippetsAffiliateLink > a {
  background-color: #949495;
}

.btn-blue-grey, .btn-wrap.btn-wrap-blue-grey .ajaxSnippetsAffiliateLink > a {
  background-color: #607d8b;
}

.btn-black, .btn-wrap.btn-wrap-black .ajaxSnippetsAffiliateLink > a {
  background-color: #333;
}

.btn-arrow-right:before, .btn-wrap.btn-wrap-arrow-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f061";
}

.btn-chevron-right:before, .btn-wrap.btn-wrap-chevron-circle-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f054";
}

.btn-angle-right:before, .btn-wrap.btn-wrap-angle-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f105";
}

.btn-caret-right:before, .btn-wrap.btn-wrap-caret-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f0da";
}

.btn-long-arrow-right:before, .btn-wrap.btn-wrap-long-arrow-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f178";
}

.btn-chevron-circle-right:before, .btn-wrap.btn-wrap-chevron-circle-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f138";
}

.btn-angle-double-right:before, .btn-wrap.btn-wrap-angle-double-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f101";
}

.btn-arrow-circle-right:before, .btn-wrap.btn-wrap-arrow-circle-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f0a9";
}

.btn-hand-o-right:before, .btn-wrap.btn-wrap-hand-o-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f0a4";
}

.btn-arrow-circle-o-right:before, .btn-wrap.btn-wrap-arrow-circle-o-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f18e";
}

.btn-caret-square-o-right:before, .btn-wrap.btn-wrap-caret-square-o-right .ajaxSnippetsAffiliateLink > a:before {
  content: "\f152";
}
.btn-wrap-circle .ajaxSnippetsAffiliateLink > a {
  background: #999;
}
.btn-l, .ranking-item-link-buttons a,
.btn-wrap.btn-wrap-l .ajaxSnippetsAffiliateLink > a {
  font-size: 14px;
}

blockquote.ajax-snippets-quote{
  font-size:16px;
}
blockquote.ajax-snippets-quote cite:before{
  content:"引用元：";
}

a.applink{
  color:#555;
  text-decoration: none;
}
div.applink_box{
  display: flex;
  background-color: #fafafa;
  border: double 5px #e5e5e5;
   padding: 5px;
   max-width:500px;
   margin-left:auto;
   margin-right:auto;
}
div.applink_box_item1{
  min-width:12%;
}
div.applink_box_item1 img{
  border-radius: 10%;
  width:100px;
  height:100px;
}
div.applink_box_item2{
  padding-left: 10px;
}
div.applink_box_item2 .applink_box_title:a{
  color:red;
}

/*アプリのおすすめ*/
ul.appreviews_app_supply, ul.app_target_info{
  border: solid 2px #ffb03f;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin-top: 2em;
}
ul.appreviews_app_supply li, ul.app_target_info li{
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}
ul.appreviews_app_supply li:before {
  /*リストのアイコン*/
  font-family: FontAwesome;
  content: "\f019";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
	font-weight: 900;
}
ul.appreviews_app_supply li:after {
  /*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: FontAwesome,'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f164  \3059\3050\306b\8aad\3080';/*アイコンコード＋文字（Unicodeに変換）*/
  letter-spacing: 0.05em;/*字間*/
}

ul.app_target_info li:before{
  /*リストのアイコン*/
  font-family: FontAwesome;
  content: "\f019";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
  font-weight: 900;
}
ul.app_target_info li:after {
  /*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: FontAwesome,'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f164  \63b2\8f09\4e2d\306e\30de\30f3\30ac\30a2\30d7\30ea';/*アイコンコード＋文字（Unicodeに変換）*/
  letter-spacing: 0.05em;/*字間*/
}

/*おすすめマンガ*/
ul.favo_manga {
  border: solid 2px #ffb03f;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin-top: 2em;
}
ul.favo_manga li {
  line-height: 1.2;
  font-size:13px;
  padding: 0.5em 0;
  list-style-type: none!important;
}
ul.favo_manga li:before {
  /*リストのアイコン*/
  font-family: FontAwesome;
  content: "\f058";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
	font-weight: 900;
}
ul.favo_manga li:after {
  /*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: FontAwesome,'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f02d  \4eba\6c17\306e\30de\30f3\30ac\4e00\89a7';/*アイコンコード＋文字（Unicodeに変換）*/
  letter-spacing: 0.05em;/*字間*/
}

.singleReview{
  display:flex;
  align-items: flex-start;
  justify-content:space-evenly;
  width:100%"
}
.singleReview .firstItem{
  text-align:center;
  width : -webkit-calc(100% / 3) ;
  width : calc(100% / 3) ;
}
.singleReview .secondItem{
  max-width:300px;
  width : -webkit-calc(200% / 3) ;
  width : calc(200% / 3) ;
}

/* ラベル横並び */
.check_lb {
  display:block;
}
