/Api/Store/*.txt
/wpdb
/themes
/phpmyadmin
/vendor
composer.lock
.env
/volumes

# PHPUnit
/.phpunit.cache
.phpunit.result.cache
.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
