.container {
  width: initial;
  padding: initial;
  margin-right: initial;
  margin-left: initial;
}
.v-application .red, .v-application .blue, .v-application .green{
  background-color: transparent !important;
}

@media (min-width: 1264px){
  .container {
      max-width: initial;
  }
}
@media (min-width: 960px){
  .container {
    max-width: initial;
  }
}

[role=button], [type=button], [type=reset], [type=submit], button {
  color: whitesmoke;
}