blockquote.ajax-snippets-quote{
  font-size:16px;
}
blockquote.ajax-snippets-quote cite:before{
  content:"引用元：";
}

a.applink{
  color:#555;
  text-decoration: none;
}
div.applink_box{
  display: flex;
  background-color: #fafafa;
  border: double 5px #e5e5e5;
  padding: 5px;
  max-width:500px;
  margin-left:auto;
  margin-right:auto;
}
div.applink_box_item1{
  min-width:12%;
}
div.applink_box_item1 img{
  border-radius: 10%;
  width:100px;
  height:100px;
}
div.applink_box_item2{
  padding-left: 10px;
}
div.applink_box_item2 .applink_box_title:a{
  color:red;
}

/*アプリのおすすめ*/
ul.appreviews_app_supply, ul.app_target_info{
  border: solid 2px #ffb03f;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin-top: 2em;
}
ul.appreviews_app_supply li, ul.app_target_info li{
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}
ul.appreviews_app_supply li:before {
  /*リストのアイコン*/
  font-family: FontAwesome;
  content: "\f019";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
	font-weight: 900;
}
ul.appreviews_app_supply li:after {
  /*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: FontAwesome,'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f164  \3059\3050\306b\8aad\3080';/*アイコンコード＋文字（Unicodeに変換）*/
  letter-spacing: 0.05em;/*字間*/
}

ul.app_target_info li:before{
  /*リストのアイコン*/
  font-family: FontAwesome;
  content: "\f019";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
  font-weight: 900;
}
ul.app_target_info li:after {
  /*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: FontAwesome,'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f164  \63b2\8f09\4e2d\306e\30de\30f3\30ac\30a2\30d7\30ea';/*アイコンコード＋文字（Unicodeに変換）*/
  letter-spacing: 0.05em;/*字間*/
}

/*おすすめマンガ*/
ul.favo_manga {
  border: solid 2px #ffb03f;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin-top: 2em;
}
ul.favo_manga li {
  line-height: 1.2;
  font-size:13px;
  padding: 0.5em 0;
  list-style-type: none!important;
}
ul.favo_manga li:before {
  /*リストのアイコン*/
  font-family: FontAwesome;
  content: "\f058";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
	font-weight: 900;
}
ul.favo_manga li:after {
  /*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: FontAwesome,'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f02d  \4eba\6c17\306e\30de\30f3\30ac\4e00\89a7';/*アイコンコード＋文字（Unicodeに変換）*/
  letter-spacing: 0.05em;/*字間*/
}

.singleReview{
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  width:100%"
}
.singleReview .firstItem{
  text-align:center;
  width : -webkit-calc(100% / 3) ;
  width : calc(100% / 3) ;
}
.singleReview .secondItem{
  max-width:350px;
  width : -webkit-calc(200% / 3) ;
  width : calc(200% / 3) ;
}

/* ラベル横並び */
.check_lb {
  display:block;
}

.btn-wrap > a{
  margin:0;
}
.shoplinkbtn1 a{
  width: 100%;
}

/* 楽天リンクのボタンcss */
@media screen and (max-width: 834px){
  .product-item-buttons > * > a {
      width: auto;
      font-size: 11px;
  }
}

.ajax_btn {
  width: 100%;
  position: relative;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
	box-shadow: 3px 3px 10px #a3a3a3;
}

.ajax_btn:after {
  content: ">";
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
}

.ajax_btn:hover {
  background: #1d49aa;
}

.ajax_btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.error-ajax_btn, .red-ajax_btn{
  background: #d74665;
}
.error-ajax_btn:hover, .red-ajax_btn:hover{
  background: #e98aa5;
}

.success-ajax_btn, .green-ajax_btn{
  background: #52d746;
}
.success-ajax_btn:hover, .green-ajax_btn:hover{
  background: #8acc7d;
}

.orange-ajax_btn{
  background: #df8c49;
}
.orange-ajax_btn:hover{
  background: #dfb586;
}

/** アプリのボタンのスタイル */
.c-button {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.c-button:hover {
  background: #1d49aa;
}

.c-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

table.singleReview_table p{
  margin-bottom:0;
}
table.singleReview_table{
  width: 100%;
  border-collapse: collapse;
}

table.singleReview_table tr{
  border-bottom: solid 2px white;
}

table.singleReview_table tr:last-child{
  border-bottom: none;
}

table.singleReview_table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #262b2c;
  color: white;
  text-align: center;
  padding: 0;
}

table.singleReview_table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #262b2c;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table.singleReview_table td{
  text-align: left;
  width: 70%;

  background-color: #eee;
  padding: 5px 20px;
}

/* レビュー表示ののスタイル調整 */
.v-application--wrap {
  min-height: 0 !important;
}

.item-card__container {
  position:relative;
  border: 3px solid #dfdfdf;
  padding: 10px;
  display: grid;
  grid-template-columns: 160px 1fr 1fr 1fr;
  align-items: center;
}
.item-card__image {
  height:140px;
  margin: 10px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item-card__title {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item-card__saler {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start; /* このアイテムだけ縦方向で中央寄せ */
  font-size: 12px;
}



a.item-card__button{
  display: block;
  margin: 0 0.5% !important;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}
a.item-card__button:hover{
  opacity: 0.6;
}

.shoplinkofficial{
  background: #192f60;
}

.shoplinkamazon{
  background: #f79901;
}

.shoplinkrakuten{
  background: #bf0000;
}

.item-card__label {
  position: absolute; /* 親要素の基準に配置 */
  top: 0px;
  left: 0px;
  background-color: #ff6347;
  color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(-10deg);
}

@media screen and (max-width: 600px){
  .item-card__container {
    grid-template-columns: 100px 1fr;
    align-items: start;
  }
  .item-card__image {
    height: 100px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

  }
  .item-card__title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .item-card__saler {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    font-size: 12px;
  }
  .item-card__button__wrap{
    grid-column-start: 1;
    grid-column-end: 3;
  }
  a.item-card__button{
    margin: 0.5% 0 !important;
  }
}