blockquote.ajax-snippets-quote{
  font-size:16px;
}
blockquote.ajax-snippets-quote cite:before{
  content:"引用元：";
}

a.applink{
  color:#555;
  text-decoration: none;
}
div.applink_box{
  display: flex;
  background-color: #fafafa;
  border: double 5px #e5e5e5;
   padding: 5px;
   max-width:500px;
   margin-left:auto;
   margin-right:auto;
}
div.applink_box_item1{
  min-width:12%;
}
div.applink_box_item1 img{
  border-radius: 10%;
  width:100px;
  height:100px;
}
div.applink_box_item2{
  padding-left: 10px;
}
div.applink_box_item2 .applink_box_title:a{
  color:red;
}

/*アプリのおすすめ*/
ul.appreviews_app_supply, ul.app_target_info{
  border: solid 2px #ffb03f;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin-top: 2em;
}
ul.appreviews_app_supply li, ul.app_target_info li{
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}
ul.appreviews_app_supply li:before {
  /*リストのアイコン*/
  font-family: FontAwesome;
  content: "\f019";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
	font-weight: 900;
}
ul.appreviews_app_supply li:after {
  /*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: FontAwesome,'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f164  \3059\3050\306b\8aad\3080';/*アイコンコード＋文字（Unicodeに変換）*/
  letter-spacing: 0.05em;/*字間*/
}

ul.app_target_info li:before{
  /*リストのアイコン*/
  font-family: FontAwesome;
  content: "\f019";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
  font-weight: 900;
}
ul.app_target_info li:after {
  /*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: FontAwesome,'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f164  \63b2\8f09\4e2d\306e\30de\30f3\30ac\30a2\30d7\30ea';/*アイコンコード＋文字（Unicodeに変換）*/
  letter-spacing: 0.05em;/*字間*/
}

/*おすすめマンガ*/
ul.favo_manga {
  border: solid 2px #ffb03f;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin-top: 2em;
}
ul.favo_manga li {
  line-height: 1.2;
  font-size:13px;
  padding: 0.5em 0;
  list-style-type: none!important;
}
ul.favo_manga li:before {
  /*リストのアイコン*/
  font-family: FontAwesome;
  content: "\f058";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
	font-weight: 900;
}
ul.favo_manga li:after {
  /*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: FontAwesome,'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f02d  \4eba\6c17\306e\30de\30f3\30ac\4e00\89a7';/*アイコンコード＋文字（Unicodeに変換）*/
  letter-spacing: 0.05em;/*字間*/
}

.singleReview{
  display:flex;
  align-items: center;
  justify-content:space-evenly;
  width:100%"
}
.singleReview .firstItem{
  text-align:center;
  width : -webkit-calc(100% / 3) ;
  width : calc(100% / 3) ;
}
.singleReview .secondItem{
  max-width:350px;
  width : -webkit-calc(200% / 3) ;
  width : calc(200% / 3) ;
}

/* ラベル横並び */
.check_lb {
  display:block;
}

.btn-wrap > a{
  margin:0;
}
.shoplinkbtn1 a{
  width: 100%;
}

/* 楽天リンクのボタンcss */
@media screen and (max-width: 834px){
  .product-item-buttons > * > a {
      width: auto;
      font-size: 11px;
  }
}

.ajax_btn {
  width: 100%;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.ajax_btn:hover {
  background: #1d49aa;
}

.ajax_btn:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.error-ajax_btn, .red-ajax_btn{
  background: #d74665;
}
.error-ajax_btn:hover, .red-ajax_btn:hover{
  background: #e98aa5;
}

.success-ajax_btn, .green-ajax_btn{
  background: #52d746;
}
.success-ajax_btn:hover, .green-ajax_btn:hover{
  background: #8acc7d;
}

.orange-ajax_btn{
  background: #df8c49;
}
.orange-ajax_btn:hover{
  background: #dfb586;
}